.double {
	border-style: double;
	border-width: 5px;
}

h2 {
	font-family: Verdana, sans-serif;
	text-shadow: 2px 2px 2px purple;
}

* {
	background-repeat: no-repeat;
	background-position: right;
}
